[Unit]
Description=Global Player Deutschland Daemon v3.2

[Service]
Type=simple
ExecStart=/usr/bin/env python3 %h/globalplayer-daemon-germany/gpd.py
Restart=on-failure

[Install]
WantedBy=default.target
